body {
    background-color: #101010;
    color: #FAFAFA;
}

#annotate_section {
    position: relative;
    margin-right: 2rem;
}

#annotate_canvas {
    border: 5px solid black;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

#annotate_image {
    position: relative;
    left: 0;
    top: 0;
}

#page {
    display: flex;
}

#inspector {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #30303090;
    border-radius: 1rem;
    padding: 1rem;
}

#label_section {
    display: flex;
    width: 80%;
    margin: 1rem;
}

#add_label_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#label {
    width: 100%;
}

#annotations {
    border: 1px solid green;
    width: 100%;
    height: 25rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.annotation {
    border: 1px solid purple;
    width: 90%;
}