#annotate_section {
    position: relative;
    border: 1px solid red;
    margin-right: 2rem;
}

#annotate_canvas {
    border: 5px solid black;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

#annotate_image {
    position: relative;
    left: 0;
    top: 0;
    border: 1px solid red;
}

#page {
    display: flex;
}

#inspector {
    border: 1px solid green;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#label {
        
}