#annotate_section {
    position: relative;
    border: 1px solid red;
    margin-right: 2rem;
}

#annotate_canvas {
    border: 5px solid black;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

#annotate_image {
    position: relative;
    left: 0;
    top: 0;
    border: 1px solid red;
}

#page {
    display: flex;
}

#inspector {
    border: 1px solid green;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#label_section {
    display: flex;
    width: 80%;
}

#add_label_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#label {
    width: 100%;
}

#annotations {
    border: 1px solid green;
    width: 100%;
    height: 15rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.annotation {
    border: 1px solid purple;
    width: 90%;
}